* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom right, #f5f044, #ab193b);
}

a{
    color: black;
    text-decoration: none;
}
header p{
    font-size: 2rem;
    font-family: fantasy;
}

main {
    display: grid;
    grid: 100% / 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 3;
    letter-spacing: 0.24rem;
    word-spacing: 0.32rem;
    height: 43rem;
}
main .main-sec {
    display: grid;
    grid: 4rem 4rem / 10rem;
    grid-row-gap: 0.1rem;
    justify-content: center;
    align-items: center;
    min-height: 1rem;
}

main .main-sec button{
    width: 80%;
    height: 2rem;
    background: linear-gradient(to bottom right, #f5f044, #ab193b);
    box-shadow: 0px 4px 3px rgba(196, 18, 18, 0.721);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in 0.1s;
}
main .main-sec button:hover{
    background: linear-gradient(to bottom right, #fffa5d, #ff2a5c);
}
main .main-sec button:active{
    background: linear-gradient(to bottom right, #fffa6b, #ff577e);
}